@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
   Author: Michael Bahamon
   Date:   11/24/2025

   Filename:         mi_tables.css
*/

/* Table Styles */
table#pricing {
   background: linear-gradient(to bottom, rgb(190, 215, 255), black);
   border: 5px solid gray;
   border-collapse: collapse;
}

table#pricing th,
table#pricing td {
   border: 3px solid gray;
   line-height: 1.4em;
   padding: 8px;
}

table#pricing th {
   background-color: black;
   color: rgb(130, 210, 255);
   font-weight: normal;
}

table#pricing td {
   color: white;
   font-size: 0.9em;
   vertical-align: top;
}

/* Column Styles */
col#firstCol {
   width: 24%;
}

col.dataCols {
   width: 19%;
}

/* Table Header Styles */
table#pricing thead tr {
   height: 60px;
}

table#pricing thead tr:first-of-type th:first-of-type {
   font-size: 2em;
}

table#pricing thead tr:first-of-type th:not(:first-of-type) {
   background-color: transparent;
   color: black;
}