@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author: Michael Bahamon
   Date:   11/23/2025

   Filename:         dlr_columns2.css
*/

/* Column Styles */
@media screen and (min-width: 641px) {
   /* introductory paragraph in three columns on desktop */
   #main p {
      column-count: 3;
      column-gap: 20px;
      column-rule: 1px solid black;
   }
}
