@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 8
   Review Assignment

   Cinema Penguin Styles for Media
   Author: Michael Bahamon
   Date:   11-10-25

   Filename: 

*/

/* Media Styles */
audio,
video {
  display: block;
  width: 95%;
  margin: 20px auto;   /* top/bottom 20px, left/right centered */
}



/* Track Styles */
::cue {
  background: transparent;
  text-shadow: 1px 1px 2px #000;
  color: rgb(255, 177, 66);
  font: 1.2em sans-serif;
}

::cue(.Title) {
  font: 2em serif;
}
